body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #fff;
}

form {
    margin-top: 20px;
}

h2 {
    color: red;
}

.personal {
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid blue;
    text-align: center;
}

.educational {
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid blue;
    text-align: center;
}
