
#container {
    border: solid red 5px;
    width: 800px;
    height: 800px;
}

#one {
    background-color: rgb(245,210,100);
    height: 100px;
    width: 400px;
}

#two {
    background-color: hsl(220,50%,50%);
    height: 400px;
    width: 300px;
}

.one {
    background-color: hsl(20,50%,50%);
    height: 40px;
    width: 100px;
    float: left;
    border: solid green 3px;
}
